* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100%;
  background-color: lightblue;
  margin: auto;
}
li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  margin: 10px;
}
header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* basic values */
/* specific style values */
.todo_list_wrapper {
  width: 20%;
  height: 50vh;
  margin-top: 25vh;
  border-radius: 20px;
  text-align: center;
  background-color: crimson;
  opacity: 0.8;
}
.text_input {
  background-color: #fff  ;
  color: crimson;
  padding-left: 5px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}
li:hover .text_input {
  transform: scale(1.2);
  transition: 1.1s;
  font-weight: bolder;
}
.insert_value {
  background-color: lightblue;
  color: #000;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}
li:hover .insert_value {
  transform: scale(1.2);
  transition: 1.1s;
  font-weight: bolder;
}
.list_box {
  border: 2px solid #000;
  padding: 10px;
  margin-top: 5px;
}
.list_box span {
  float: right;
}
.fa-edit, .fa-trash {
  padding-left: 10px;
}
